# Test reports
reports/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
eggs/
*.whl
sdist/

# Virtual environments
.venv/
venv/
ENV/
env/

# Install logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
*.cover
*.py,cover
.cache
.pytest_cache/
nosetests.xml

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.env.*

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# mypy / type checkers
.mypy_cache/
.pytype/
.pyre/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
